<h1>Liste des livres</h1>
<%= paginate @books %>
<% @books.each do |book| %>
  <p><%= book_link book %>
      <% if book.category %>
      <%= book.title %> (<%= book.category.name %>)
      <% else %>
      
      
      <%= book.title %>
      <% end %>
      </p>
<% end %>

<%= form_tag '/books', method: 'post' do %>
  <input type="text" name="title" />
<!--<input type="text" name="category_id" />-->
<select name="category_id">
    <% @categories.each do |category| %>
    <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
</select>
  <input type="submit" value="Ajouter le livre" />
<% end %>
